server {
    listen 80;
    server_name {{ sw_install_server_name }};

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root {{ sw_install_document_root }}/{{ sw_install_app_root }};
    }

    location / {
        proxy_pass http://127.0.0.1:{{ sw_install_app_port }};
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
